*,
*::after,
*::before {
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    background-color: #F5F5F5;
   
}


body{
    margin: 0;
}


@font-face {
    font-family: 'Okta Neue Ultralight';
    src: url(/assets/fonts/Okta\ Neue\ UltraLight.woff2)format(woff2),
    url(/assets/fonts/Okta\ Neue\ UltraLight.woff)format(woff),
    url(/assets/fonts/Okta\ Neue\ UltraLight.otf)format(opentype),
    url(/assets/fonts/Okta\ Neue\ UltraLight.ttf)format(truetype),
}

@font-face {
    font-family: 'Okta Neue SemiBold';
    src: url(/assets/fonts/Okta\ Neue\ SemiBold.woff2)format(woff2),
    url(/assets/fonts/Okta\ Neue\ SemiBold.woff)format(woff),
    url(/assets/fonts/Okta\ Neue\ SemiBold.otf)format(opentype),
    url(/assets/fonts/Okta\ Neue\ SemiBold.ttf)format(truetype),
}

.text-red {
    color: #FF0000;
}

.text-white {
    color: #F5F5F5;
}

.text-black {
    color:  #101011;
}

h1{
    font-family: 'Okta Neue SemiBold';
    font-size: 2rem;
    color:  #010201;
    transition: color 0.2s, 0.3s ease;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}


p{
    font-family: 'Okta Neue Ultralight';
    font-size: 2rem;
    color:  #010201;
    transition: color 0.2s, 0.3s ease;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.bold{
    font-family: 'Okta Neue SemiBold';
}

a{
    font-family: 'Okta Neue Ultralight';
    font-size: 2rem;
    color:  #010201;
    transition: color 0.2s, 0.3s ease;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    text-decoration: underline;
}

a:hover{
    color: #FF0000;
}

.wrapper-11{
    display: grid;
    grid-template-columns: repeat(1, 11fr);
    grid-auto-rows: minmax(1rem, auto);
    grid-auto-flow: row;
}
