*,
*::after,
*::before {
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    scrollbar-width: none;
    background-color: #F5F5F5;
}


body{
    position: relative;
    margin: 0;
    padding: 0;
}

.bg-black {
    background: #010201;
}

.bg-white {
    background: #F5F5F5;
}

@media (min-width: 700px) and (max-width: 1024px) {
  
    .col-2-3{
        grid-column: 2/4;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-gap: 2rem;
    }
    
        .cv a:hover{
            color: #FF0000;
        }
        
    
        .cv{
            margin-top: 15rem !important;
            padding-bottom: 10rem;
            margin-bottom: 10rem;
        }
        
    
        .vl2 {
            border-bottom: 0.4rem solid #010201;
            height: 100%;
            overflow:hidden ;
          }
    
        .vl {
            border-bottom: 0.4rem solid #FF0000;
            height: 100%;
          }
    
        html{
            font-size: calc(10 / 1920 * 100vw);
          
        }
    
        .navigation{
            width: calc(100% /11 * 11);
            display: grid;
            grid-template-columns: repeat(11, 1fr);
            grid-auto-rows: minmax(1rem, auto);
            grid-gap: 1rem;
            grid-auto-flow: row;
            margin-top: 5rem;
            width: 130%;
            position: relative;
            left: -5rem;
        }
    
        .navigation div{
            justify-self: start;
        }
    
        
    ::-webkit-scrollbar {
        width: 0.6rem;
      }
    
    
      
      .hide-pc{
          display: none;
      }
    
    
      
    
    .wrapper-8{
        width: calc(100% /11 * 11);
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-auto-rows: minmax(1rem, auto);
        grid-gap: 1rem;
        grid-auto-flow: row;
        margin-top: 1rem;
        width: 130%;
        position: relative;
        left: -5rem;
    }
    

    
    .cases{
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        grid-auto-rows: minmax(40rem, auto);
        grid-gap: 1rem;
        margin-top: 13rem;
    }
    
    
    h1{
        font-family: 'Okta Neue';
        font-size: 3rem;
        color:  #010201;
        transition: color 0.1 ease-in-out;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
        font-weight: bold;
    }
    
    a > h1:hover{
        color: #FF0000;
        -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    }
    
    a{
        font-family: 'Okta Neue';
        font-size: 3rem;
        color:  #FF0000;
        transition: color 0.1 ease-in-out;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
        text-decoration: underline;
        font-weight: normal;
    }
    
    p{
        font-family: 'Okta Neue';
        font-size: 3rem;
        color:  #010201;
        transition: color 0.1 ease-in-out;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
        font-weight: normal;
    }
    
    
    .wrapper-3{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(1rem, auto);
        grid-auto-flow: row;
    }
    
    
    .col-1{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-gap: 2rem;
    }
    
    .col-2-3{
        grid-column: 2/4;
    
        margin-top: 5rem;
        margin-bottom: 5rem;
        grid-gap: 2rem;
    
    }
    
    
    .col-1-2{
        grid-column: 1/3;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-gap: 2rem;
    
    }
    
    
    
    .col-3{
        grid-column: 1/4;
        grid-gap: 0rem 2rem;
        margin-bottom: -0.8rem;
    
    }
    
    .modal {
        display: none; 
        position: fixed; 
        z-index: 2; 
        padding-top: 1rem; 
        top: 0;
        width: 140rem;
        height: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        /*background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); */
        overflow: auto;
        -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    
      }
    
    .modal-overlay {
        display: none; 
        position: fixed;
        z-index: 2;
        padding-top: 2rem;
        top: 0;
        width: 100%;
        height: 100%;
      left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        overflow: auto;
    }
      .modal::-webkit-scrollbar{
        opacity: 0;
        display: none;
      }
      
    
      .modal-content {
        background-color: #F5F5F5;
        margin: auto;
        padding: 0;
        width: 140rem;
      }
    

    
    a:hover{
        color: #FF0000;
    }
    
    .navigation a{
        text-decoration: none;
        
    }
    
    #bm{
        position: absolute;
        top: 30%;
        left: 38%;
        width: 20%;
    }
    
    .hidden {
        transition: visibility 0s 0.3s, opacity 0.2s ease-in-out;
        }
    
        .hire{
            justify-self: end !important;
            transition: transform .5s ease-in-out;
            position: absolute; 
            right: calc(100%/11*3 - 37rem); top:4.5rem;
            padding: 1rem;
            cursor: crosshair;
        }
        
        .hire:hover{
            transform: rotate(2turn);
        }
        
        .hire a{
            text-decoration: none !important;
            cursor: crosshair;
        }
    
    
        
    #box {
        overflow-y: visible;
        border-collapse: separate;
        overflow-x: auto;
        white-space: nowrap;
        border-collapse: collapse;
        margin-top: 10rem;
        margin-left: calc(100%/11 - 3px);
        border-spacing: 0;
        scroll-behavior:auto !important;
      }
      .item {
        padding-bottom: 5rem;
        display: table-cell;
        min-width: 120rem;
        
    
      }
    
      #box::-webkit-scrollbar {
        height: 0.65rem;
        background: white;
        
      }
    
    
    
      .poster{
          padding-right: 12rem;
      }
    
      
    .blocks{
        grid-column: 2/9;
        margin-top: 15rem;
        border-bottom: 0.4rem solid #010201;
        padding-bottom: 10rem;
        margin-bottom: 10rem;
    
    }
    
    
    
    
    .slideshow{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        border: none;
    }
    
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    .arrow {
        background: none;
        line-height: normal;
        overflow: visible;
        height: 100%;
        font-family: 'Okta Neue';
        color: #101011;
        font-size: 5rem;
        cursor: pointer;
        font-weight: bold;
        border: none;
    }
    
    .ar-right{
        padding-left: 13rem;
    }
    
    .ar-left{
        padding-right: 13rem;
    }
    
    .arrow:hover{
        color: #FF0000;
    }
    
    
    
    .casename{
        display: grid;
        grid-template-columns: 7fr;
        grid-gap: 1rem;
        margin-bottom: 4rem;
        justify-items: center;
    
    }
    
    .footer{
        width: calc(100% /11 * 11);
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-auto-rows: minmax(1rem, auto);
        grid-gap: 1rem;
        grid-auto-flow: row;
        margin-top: 10rem;
        margin-top: 25rem;
        background-color: #010201;
        height: 20rem;
        align-items: center;
       
       
    }

    .footer a{
        font-size: 2.5rem;
    }
    
    .symbol{
        width: 15%;
        position: absolute;
        right: 5rem;
        bottom: 22rem;
    
    
    }
    
    
    #box::-webkit-scrollbar {
        height: 0.6rem;
        background: white;
    }
    
    
    hr {
        border: none;
        height: 0.4rem;
        background-color: #010201;
        margin: 0;
    }
    
    
      .redfilter:hover{
        opacity: 100;
      }
      .preview > img:hover{
        width: 115%;
    }
    
    a img:hover{
        width: 115%;
    }

    .me{
        display: none;
    }
    
    }
    
    
    


@media (max-width: 700px) {

    html{
        font-size: calc(10 / 1024 * 100vw);
      
    }

    .wrapper-8{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: minmax(1rem, auto);
        grid-gap: 1rem;
        grid-auto-flow: row;
        margin-top: 1rem;
    }
    .me{
        display: none;
    }
    
    .hide-m{
        display: none !important;
    }

    .cases{
        grid-auto-rows: minmax(40rem, auto);
    }

    .cases > div{
       margin-top: 13rem;
    }

    .no-margintop-m{
        margin-top: 0 !important;
    }
    
    
h1{
    font-family: 'Okta Neue';
    font-size: 5rem;
    color:  #010201;
    transition: color 0.1 ease-in-out;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    letter-spacing: -1px;
    font-weight: bold;
}

a{
    font-family: 'Okta Neue';
    font-size: 3.5rem;
    color:  #FF0000;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    text-decoration: underline;
}


#navigation-clicker{
    pointer-events: all;
}

.navigation{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    position: fixed;
    top: 6rem;
    left: -1.4rem;
    height: 89vh;
    margin-bottom: 1rem;
   
    z-index: 3 !important;
    
    }
    
    .vl {
        border-left: 0.7rem solid #FF0000;
        height: 100%;
      }

.navigation a{
    text-decoration: none;
     padding: 2rem;
}

.navigation a > h1{
   font-size: 3.5rem;
   letter-spacing: 1px;
   justify-self: end;
}

p{
    font-family: 'Okta Neue';
    font-size: 3.5rem;
    color:  #010201;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    padding: 0.3rem;
    font-weight: normal;
}
    

.wrapper-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(1rem, auto);
    grid-auto-flow: row;
    
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 20; 
    padding-top: 6rem; 
    top: 0;
    width: 87.5%;
    height: 100%; 
    margin: 0 auto;
    right: 0rem;
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); */
    overflow: auto;

  }


.modal-overlay {
    display: none; 
    position: fixed;
    z-index: 2;
    padding-top: 6rem;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.2);
    overflow: auto;
}


  .modal-content {
    background-color: #F5F5F5;
    padding: 0;
    margin: auto;
    width: 100%;
    position: relative;

    
  }

  
.col-1{
    grid-column: 1/4;
    grid-gap: 2rem;
}


.col-1-2{
    grid-column: 1/3;
    grid-gap: 2rem;

}


.col-3{
    grid-column: 1/4;
    grid-gap: 0rem 2rem;

}


#bm{
    width: 50rem;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
}

.hidden {
    transition: visibility 0s 0.5s, opacity 0.3s linear;
    }
    
    .hire{
        justify-self: end !important;
    }
    
    
    .hire a{
        text-decoration: none !important;
    }

    
#box {
    overflow-y: visible;
    border-collapse: separate;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    margin-top: 6rem;
    margin-left: calc(100%/8);
    border-spacing: 0;
    
   
  }
  .item {
    display: table-cell;
    min-width: 85rem;
    padding-bottom: 7rem;
    

  }

  

  .poster{
      padding-right: 3rem;
  }
  
  ::-webkit-scrollbar {
    width: 0.9rem;
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    opacity: 0.5;
    background: #FF0000;

  }

  
.blocks{
    grid-column: 2/9;
    margin-top: 5rem;

}

.slideshow{
    grid-template-columns: 7fr;
    border: none;
    margin-right: 2rem;
    margin-bottom: 12rem;
}

.slide{
    position: relative;
    display:none;
   
}

input[type="submit"],
input[type="reset"],
input[type="button"],
.arrow {
    background: none;
    line-height: normal;
    overflow: visible;
    height: 100%;
    font-family: 'Okta Neue';
    color: #FF0000;
    font-size: 10rem;
    cursor: pointer;
    font-weight: normal;
    border: none;
    padding: 3rem;
}


.arrow-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-flow: row;
    overflow: hidden;
    border-bottom: 0.7rem solid #010201;
    
}


.casename{
    
    position: relative;
    top: 6rem;
    justify-self: center;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
  }



.footer{
    width: calc(100% /11 * 11);
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(1rem, auto);
    grid-gap: 1rem;
    grid-auto-flow: row;
    margin-top: 40rem;
    background-color: #010201;
    padding-bottom: 20rem;

}

#bm1{
    width: 11rem;
}

.symbol{
    position: absolute;
    right: 5rem;
    bottom: 1rem;


}

#box::-webkit-scrollbar {
    height: 1rem;
    background: white;
}
.vl2 {
    border-bottom: 0.7rem solid #010201;
    height: 100%;
    overflow:hidden ;
  }

  
hr {
    border: none;
    height: 0.7rem;
    background-color: #010201;
    margin: 0;
}

.cv{
    margin-top: 5rem;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
    padding-right: 2rem;
}


.col-2-3{
    grid-column: 1/4;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-gap: 2rem;
}


.footer{
    display: grid;
    grid-template-columns: repeat(4, 6fr);
    grid-auto-rows: minmax(4rem, auto);
    grid-gap: 5rem;
    margin-top: 35rem;
    align-items: center;
    padding-top: 15rem;
    padding-bottom: 13rem;
}



}




 /* END */

@media (min-width: 1024px) {


    
.col-2-3{
    grid-column: 2/4;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-gap: 2rem;
}

    .cv a:hover{
        color: #FF0000;
    }
    

    .cv{
        margin-top: 15rem !important;
        padding-bottom: 10rem;
        margin-bottom: 10rem;
    }
    

    .vl2 {
        border-bottom: 0.4rem solid #010201;
        height: 100%;
        overflow:hidden ;
      }

    .vl {
        border-bottom: 0.4rem solid #FF0000;
        height: 100%;
      }

    html{
        font-size: calc(10 / 1920 * 100vw);
      
    }

    .navigation{
        width: calc(100% /11 * 8);
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: minmax(1rem, auto);
        grid-gap: 1rem;
        grid-auto-flow: row;
        margin-top: 1rem;
    }

    .navigation div{
        justify-self: start;
    }

    
::-webkit-scrollbar {
    width: 0.6rem;
  }


  
  .hide-pc{
      display: none;
  }


  

.wrapper-8{
    width: calc(100% /11 * 8);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(1rem, auto);
    grid-gap: 1rem;
    grid-auto-flow: row;
    margin-top: 1rem;
}



.me{
    width: calc(100% /11 * 2);
    position: absolute;
    right: calc(100% /11 *-1);
    top: 0;
    transition: all 0.3s ease-out;
}

.me:hover{
    right: 0;
}

.cases{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-auto-rows: minmax(40rem, auto);
    grid-gap: 1rem;
    margin-top: 13rem;
}


h1{
    font-family: 'Okta Neue';
    font-size: 2rem;
    color:  #010201;
    transition: color 0.1 ease-in-out;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-weight: bold;
}

a > h1:hover{
    color: #FF0000;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

a{
    font-family: 'Okta Neue';
    font-size: 2rem;
    color:  #FF0000;
    transition: color 0.1 ease-in-out;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    text-decoration: underline;
    font-weight: normal;
}

p{
    font-family: 'Okta Neue';
    font-size: 2rem;
    color:  #010201;
    transition: color 0.1 ease-in-out;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-weight: normal;
}


.wrapper-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(1rem, auto);
    grid-auto-flow: row;
}


.col-1{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-gap: 2rem;
}

.col-2-3{
    grid-column: 2/4;

    margin-top: 5rem;
    margin-bottom: 5rem;
    grid-gap: 2rem;

}


.col-1-2{
    grid-column: 1/3;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-gap: 2rem;

}



.col-3{
    grid-column: 1/4;
    grid-gap: 0rem 2rem;
    margin-bottom: -0.8rem;

}

.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    padding-top: 1rem; 
    top: 0;
    width: 140rem;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); */
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  }

.modal-overlay {
    display: none; 
    position: fixed;
    z-index: 2;
    padding-top: 2rem;
    top: 0;
    width: 100%;
    height: 100%;
  left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
}
  .modal::-webkit-scrollbar{
    opacity: 0;
    display: none;
  }
  

  .modal-content {
    background-color: #F5F5F5;
    margin: auto;
    padding: 0;
    width: 140rem;
  }


a:hover{
    color: #FF0000;
}

.navigation a{
    text-decoration: none;
    
}

#bm{
    position: absolute;
    top: 25%;
    left: 40%;
    width: 10%;
}

.hidden {
    transition: visibility 0s 0.3s, opacity 0.2s ease-in-out;
    }

    .hire{
        justify-self: end !important;
        transition: transform .5s ease-in-out;
        position: absolute; right: calc(100%/11*3 - 1rem); top:0.4rem;
        padding: 1rem;
        cursor: crosshair;
    }
    
    .hire:hover{
        transform: rotate(2turn);
    }
    
    .hire a{
        text-decoration: none !important;
        cursor: crosshair;
    }


    
#box {
    overflow-y: visible;
    border-collapse: separate;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    margin-top: 10rem;
    margin-left: calc(100%/11 - 3px);
    border-spacing: 0;
    scroll-behavior:auto !important;
  }
  .item {
    padding-bottom: 5rem;
    display: table-cell;
    min-width: 60rem;
    

  }

  #box::-webkit-scrollbar {
    height: 0.65rem;
    background: white;
    
  }



  .poster{
      padding-right: 12rem;
  }

  
.blocks{
    grid-column: 2/9;
    margin-top: 15rem;
    border-bottom: 0.4rem solid #010201;
    padding-bottom: 10rem;
    margin-bottom: 10rem;

}




.slideshow{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    border: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
.arrow {
    background: none;
    line-height: normal;
    overflow: visible;
    height: 100%;
    font-family: 'Okta Neue';
    color: #101011;
    font-size: 5rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.ar-right{
    padding-left: 13rem;
}

.ar-left{
    padding-right: 13rem;
}

.arrow:hover{
    color: #FF0000;
}



.casename{
    display: grid;
    grid-template-columns: 7fr;
    grid-gap: 1rem;
    margin-bottom: 4rem;
    justify-items: center;

}

.footer{
    width: calc(100% /11 * 11);
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(1rem, auto);
    grid-gap: 1rem;
    grid-auto-flow: row;
    margin-top: 10rem;
    margin-top: 25rem;
    background-color: #010201;
    height: 20rem;
    align-items: center;
   
   
}

.symbol{
    width: 7%;
    position: absolute;
    right: 5rem;
    bottom: 22rem;


}


#box::-webkit-scrollbar {
    height: 0.6rem;
    background: white;
}


hr {
    border: none;
    height: 0.4rem;
    background-color: #010201;
    margin: 0;
}


  .redfilter:hover{
    opacity: 100;
  }
  .preview > img:hover{
    width: 115%;
}

a img:hover{
    width: 115%;
}

}





/* } END */

.redfilter{
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }


.slide{
    display:none;
}




/* .slideshow > div {
    border: #010201 1px solid;
}
.casename > div {
    border: lightblue 1px solid;
}
.cases > div{
    border: lightblue 1px solid;
}
.wrapper-11 > div {
    border: lightgreen 1px solid;
}
.wrapper-8 > div {
    border: lightcoral 1px solid;
} */




@font-face {
    font-family: 'Okta Neue';
    src: url(assets/fonts/Okta\ Neue\ UltraLight.eot);
    src: url(assets/fonts/Okta\ Neue\ UltraLight.woff2)format('woff2'),
    url(assets/fonts/Okta\ Neue\ UltraLight.woff)format('woff'),
    url(assets/fonts/Okta\ Neue\ UltraLight.ttf)format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Okta Neue';
    src: url(assets/fonts/Okta\ Neue\ SemiBold.eot);
    src: url(assets/fonts/Okta\ Neue\ SemiBold.woff2)format('woff2'),
    url(assets/fonts/Okta\ Neue\ SemiBold.woff)format('woff'),
    url(assets/fonts/Okta\ Neue\ SemiBold.ttf)format('truetype');
    font-weight: bold;
    font-style: normal;
}



.text-red {
    color: #FF0000;
}


.no-hover{
        pointer-events: none;
}

figure {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    z-index: 2;
    
}

figcaption{
    padding-top: 3rem;
}

figcaption > p{
    padding-top: 1rem;
}

img {
    box-sizing: border-box;
    display: block;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    position: relative;
    transition: all 0.1s ease-in-out;
    
}


video{
    box-sizing: border-box;
    display: block;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    position: relative;
    transition: all 0.1s ease-in-out;
}


 

  .no-margintop{
      margin-top: 0;
  }


  .novisible {
    display: none;
  }



.footer a{
    color: #F5F5F5;
    text-decoration: none;
}

.footer a:hover{
    color: #FF0000;
}



.center{
    align-self: center;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #F5F5F5;
}

.preloader_case {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #F5F5F5;
 
}
  
.visible {
visibility: visible;
opacity: 1;
transition: opacity 0s linear;
}

figure:hover{
    color: #FF0000;
}

.hidden {
visibility: hidden;
opacity: 0;
}


figcaption h1{
    margin-top: 0rem;
    margin-bottom: 2rem;
}

::-webkit-scrollbar {
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    background: #FF0000;
    opacity: 0.5;
  }

#box::-webkit-scrollbar-thumb{
  background: black;
}

.reverse{
    display: grid;
    justify-items: end;
}

.cv  a{
    font-weight: bold;
}


.footer > p{
    color: #F5F5F5;
}

a{
    color: #010201;
    text-decoration: underline;
    text-decoration-color: #FF0000;
}

.modal::-webkit-scrollbar{
    display: none;
}